<div class="modal-body">
  <form action="{% url 'create' %}" method="post">
    {% csrf_token %}
    {% include 'movies/create_modal_snippets/body/body_snippet_name.html' %}
    {% include 'movies/create_modal_snippets/body/body_snippet_picture.html' %}
    {% include 'movies/create_modal_snippets/body/body_snippet_rating.html' %}
    {% include 'movies/create_modal_snippets/body/body_snippet_notes.html' %}
    {% include 'movies/create_modal_snippets/body/body_snippet_button.html' %}

  </form>
</div>