<div class="nav__menu">
  <a class="nav__header" href="/">Jovan Movies</a>
  <div class="col-md-5 pull-right">
    <form name="search" action="" class="form-inline">
      <div class="form-group">
        <input type="text" name="query" class="form-control" value="{{request.GET.query}}"/>
        <input type="submit" class="btn btn-primary" value="Search"/>
      </div>
    </form>
  </div>

  <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#modal-create">Create</button>
</div>